/* Copyright © workdiary.de, handcrafted by Michael Schmid. All rights reserved. */

a, a:after {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
p a { position: relative; }
p a:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 1px solid #FF5050;
    position: absolute;
    bottom: -3px; left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
p a:hover:after, p a:active:after {
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

/* ==== Page & Loader ==== */

/* Loader */

#loader, #loader #container, #loader #container #logo, #loader #container #status #bar { position: absolute; }
#loader {
    background: #202224;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;
}
#loader #container, #loader #container #status, #loader #container #status #bar { width: 100px; }
#loader #container, #loader #container #status { height: 100px; }
#loader #container {
    padding: 10px;
    margin: -60px;
    top: 50%; left: 50%;
}
#loader #container #logo, #loader #container #status #bar { left: 0; }
#loader #container #logo {
    background: transparent url(../images/logo.png) no-repeat 0 0;
    width: 120px;
    height: 120px;
    top: 0;
    z-index: 20;
}
.svg #loader #container #logo { background-image: url(../images/logo.svg); }
#loader #container #status {
    background: #101112;
    position: relative;
    z-index: 10;
}
#loader #container #status #bar {
    background: #14cccc;
    height: 0;
    bottom: 0;
}

/* ==== Work ==== */

/* Base */

#work { padding: 80px 0 0; }
#work ul { *zoom: 1; }
#work ul:before, #work ul:after {
    content: "";
    line-height: 0;
    display: table;
}
#work ul:after { clear: both; }
#work ul li {
    width: 24.3%;
}
#work ul li a, #work ul li a img, #work ul li a span { display: block; }
#work ul li a, #work ul li a span { overflow: hidden; }
#work ul li a { position: relative; }
#work ul li a img, #work ul li a span { width: 100%; }
#work ul li a span, #work ul li a h2, #work ul li a h2:after { position: absolute; }
#work ul li a span, #work ul li a h2:after {
    left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#work ul li a span {
    text-indent: 100%;
    white-space: nowrap;
    background: #FF5050 no-repeat 50% 50%;
    height: 100%;
    top: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
#work ul li a:hover span, #work ul li a:active span {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
#work ul li a h2 {
    font-size: 20px;
    line-height: 24px;
    bottom: 20px; left: 20px;
}
#work ul li a h2:after {
    content: "";
    width: 40%;
    height: 0;
    border-bottom: 1px solid #FF5050;
    bottom: -10px;
}
#work ul li a:hover h2:after, #work ul li a:active h2:after {
    width: 100%;
    border-color: #fff;
}